{% extends 'adminnavbar.html' %}

{% block content %}
<style>
   .table1{
        width: 30%;
    }
    .label1{
        font-family: "Times New Roman";
    }
</style>
<br>
<h2 align="center" class="label1"><b>Movies Details</b></h2><br>
    <table align="center" class="table table1 label1">
        {% for i in MovieData %}
        <tr>
            <td>
                <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Movie Name: {{ i.movie_name }}</h5>
                      <p class="card-text">Actor Name: {{ i.actor_name }}</p>
                      <p class="card-text">Actress Name: {{ i.actor_name }}</p>
                      <p class="card-text">Director Name: {{ i.director_name }}</p>
                      <p class="card-text">Movie Cost: {{ i.total_cost }}</p>
                      <a href="#" class="btn btn-primary">Book Ticket</a>
                    </div>
                  </div>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}